In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('data.csv')

print(df.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [2]:
# drop  Loand_ID column
df.drop('Loan_ID', axis=1, inplace=True)
print(df.head())

  Gender Married Dependents     Education Self_Employed  ApplicantIncome  \
0   Male      No          0      Graduate            No             5849
1   Male     Yes          1      Graduate            No             4583
2   Male     Yes          0      Graduate           Yes             3000
3   Male     Yes          0  Not Graduate            No             2583
4   Male      No          0      Graduate            No             6000

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                0.0         NaN             360.0             1.0
1             1508.0       128.0             360.0             1.0
2                0.0        66.0             360.0             1.0
3             2358.0       120.0             360.0             1.0
4                0.0       141.0             360.0             1.0

  Property_Area Loan_Status
0         Urban           Y
1         Rural           N
2         Urban           Y
3         Urban           Y
4         Urban           Y

In [29]:
# check missing values in df
print(df.isnull().sum())

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [33]:
# split the dataset into train and test
from sklearn.model_selection import train_test_split

X = df.drop('Loan_Status', axis=1)
y = df['Loan_Status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# print(y_train)

In [34]:
# check missing values in y train and test
print(y_train.isnull().sum())
print(y_test.isnull().sum())

0
0

In [36]:
# check missing values in X_train
print(X_train.isnull().sum())

Gender               12
Married               1
Dependents           11
Education             0
Self_Employed        24
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           16
Loan_Amount_Term     12
Credit_History       40
Property_Area         0
dtype: int64

In [37]:
# calculate the mean for LoanAmount and Loadn_Amount_Term, then fill the missing values for both X_train and X_test
mean_loan_amount = X_train['LoanAmount'].mean()
mean_loan_amount_term = X_train['Loan_Amount_Term'].mean()

X_train['LoanAmount'].fillna(mean_loan_amount, inplace=True)
X_train['Loan_Amount_Term'].fillna(mean_loan_amount_term, inplace=True)

X_test['LoanAmount'].fillna(mean_loan_amount, inplace=True)
X_test['Loan_Amount_Term'].fillna(mean_loan_amount_term, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_27680\1214935148.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['LoanAmount'].fillna(mean_loan_amount, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27680\1214935148.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Loan_Amount_Term'].fillna(mean_loan_amount_term, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27680\1214935148.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test['LoanAmount'].fillna(mean_loan_amount, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27680\1214935148.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_test['Loan_Amount_Term'].fillna(mean_loan_amount_term, inplace=True)

In [38]:
# check missing values in X_train
print(X_train.isnull().sum())

Gender               12
Married               1
Dependents           11
Education             0
Self_Employed        24
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       40
Property_Area         0
dtype: int64

In [39]:
# calculate the mode for Gender, Married, Dependents, Self_Employed, Credit_History then fill the missing values for both X_train and X_test

mode_gender = X_train['Gender'].mode()[0]
mode_married = X_train['Married'].mode()[0]
mode_dependents = X_train['Dependents'].mode()[0]
mode_self_employed = X_train['Self_Employed'].mode()[0]
mode_credit_history = X_train['Credit_History'].mode()[0]
# print mode_gender, mode_married, mode_dependents, mode_self_employed, mode_credit_history
print(mode_gender, mode_married, mode_dependents, mode_self_employed, mode_credit_history)

Male Yes 0 No 1.0

In [40]:
# now fill the missing values for both X_train and X_test

X_train['Gender'].fillna(mode_gender, inplace=True)
X_train['Married'].fillna(mode_married, inplace=True)
X_train['Dependents'].fillna(mode_dependents, inplace=True)
X_train['Self_Employed'].fillna(mode_self_employed, inplace=True)
X_train['Credit_History'].fillna(mode_credit_history, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_27680\3200111900.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Gender'].fillna(mode_gender, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27680\3200111900.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Married'].fillna(mode_married, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27680\3200111900.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Dependents'].fillna(mode_dependents, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27680\3200111900.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Self_Employed'].fillna(mode_self_employed, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_27680\3200111900.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X_train['Credit_History'].fillna(mode_credit_history, inplace=True)

In [41]:
# check missing values in X_train
print(X_train.isnull().sum())

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [42]:
# check missing values in y_train

print(y_train.isnull().sum())

0

In [43]:
# print info of X_train
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 491 entries, 83 to 102
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             491 non-null    object
 1   Married            491 non-null    object
 2   Dependents         491 non-null    object
 3   Education          491 non-null    object
 4   Self_Employed      491 non-null    object
 5   ApplicantIncome    491 non-null    int64
 6   CoapplicantIncome  491 non-null    float64
 7   LoanAmount         491 non-null    float64
 8   Loan_Amount_Term   491 non-null    float64
 9   Credit_History     491 non-null    float64
 10  Property_Area      491 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 46.0+ KB
None

In [44]:
print(X_train.head())

    Gender Married Dependents Education Self_Employed  ApplicantIncome  \
83    Male     Yes          0  Graduate            No             6000
90    Male     Yes          0  Graduate            No             2958
227   Male     Yes          2  Graduate            No             6250
482   Male     Yes          0  Graduate            No             2083
464   Male      No          0  Graduate            No             4166

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
83              2250.0       265.0             360.0             1.0
90              2900.0       131.0             360.0             1.0
227             1695.0       210.0             360.0             1.0
482             3150.0       128.0             360.0             1.0
464                0.0        98.0             360.0             0.0

    Property_Area
83      Semiurban
90      Semiurban
227     Semiurban
482     Semiurban
464     Semiurban

In [45]:
# select all the categorical columns
categorical_cols = X_train.select_dtypes(include='object').columns
print(categorical_cols)

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area'],
      dtype='object')

In [46]:
# exclude Dependents
categorical_cols = categorical_cols.drop('Dependents')
print(categorical_cols)

Index(['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area'], dtype='object')

In [47]:
# now convert this categorical columns to numerical columns using get_dummies
X_train = pd.get_dummies(X_train, columns=categorical_cols, drop_first=True)
X_test = pd.get_dummies(X_test, columns=categorical_cols, drop_first=True)

print(X_train.head())

    Dependents  ApplicantIncome  CoapplicantIncome  LoanAmount  \
83           0             6000             2250.0       265.0
90           0             2958             2900.0       131.0
227          2             6250             1695.0       210.0
482          0             2083             3150.0       128.0
464          0             4166                0.0        98.0

     Loan_Amount_Term  Credit_History  Gender_Male  Married_Yes  \
83              360.0             1.0         True         True
90              360.0             1.0         True         True
227             360.0             1.0         True         True
482             360.0             1.0         True         True
464             360.0             0.0         True        False

     Education_Not Graduate  Self_Employed_Yes  Property_Area_Semiurban  \
83                    False              False                     True
90                    False              False                     True
227                   False              False                     True
482                   False              False                     True
464                   False              False                     True

     Property_Area_Urban
83                 False
90                 False
227                False
482                False
464                False

In [49]:
# convert y_train and y_test to numerical values
y_train = y_train.map({'Y':1, 'N':0})
y_test = y_test.map({'Y':1, 'N':0})

print(y_train.value_counts())

Loan_Status
1    342
0    149
Name: count, dtype: int64

In [50]:
# now print X_train and Y_train 
print("Training_data")
print("Features")
print(X_train.head())

Training_data
Features
    Dependents  ApplicantIncome  CoapplicantIncome  LoanAmount  \
83           0             6000             2250.0       265.0
90           0             2958             2900.0       131.0
227          2             6250             1695.0       210.0
482          0             2083             3150.0       128.0
464          0             4166                0.0        98.0

     Loan_Amount_Term  Credit_History  Gender_Male  Married_Yes  \
83              360.0             1.0         True         True
90              360.0             1.0         True         True
227             360.0             1.0         True         True
482             360.0             1.0         True         True
464             360.0             0.0         True        False

     Education_Not Graduate  Self_Employed_Yes  Property_Area_Semiurban  \
83                    False              False                     True
90                    False              False                     True
227                   False              False                     True
482                   False              False                     True
464                   False              False                     True

     Property_Area_Urban
83                 False
90                 False
227                False
482                False
464                False

In [51]:
print("Target")
print(y_train.head())

Target
83     0
90     1
227    1
482    1
464    0
Name: Loan_Status, dtype: int64

In [ ]:
# print test data
print("Test_data")
print("Features")
print(X_test.head())

Test_data
Features
    Dependents  ApplicantIncome  CoapplicantIncome  LoanAmount  \
350          0             9083                0.0       228.0
377          0             4310                0.0       130.0
163          2             4167             1447.0       158.0
609          0             2900                0.0        71.0
132          0             2718                0.0        70.0

     Loan_Amount_Term  Credit_History  Gender_Male  Married_Yes  \
350             360.0             1.0         True         True
377             360.0             NaN         True         True
163             360.0             1.0         True         True
609             360.0             1.0        False        False
132             360.0             1.0         True        False

     Education_Not Graduate  Self_Employed_Yes  Property_Area_Semiurban  \
350                   False              False                     True
377                   False              False                     True
163                   False              False                    False
609                   False              False                    False
132                   False              False                     True

     Property_Area_Urban
350                False
377                False
163                False
609                False
132                False
Target
350    1
377    1
163    1
609    1
132    1
Name: Loan_Status, dtype: int64

In [53]:
print("Target")
print(y_test.head())

Target
350    1
377    1
163    1
609    1
132    1
Name: Loan_Status, dtype: int64